.account {
  align-items: center;
  background-color: #e6c700;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  width: 100%;
}

.account img {
  align-items: center;
  display: flex; 
}

.account h2 {
  margin: 10px;
}




@media only screen and (min-width: 1024px) {
  
  .account {
    width: 40%;
    margin: 150px 40px 40px 40px;
  }

  #nav-bar {
    background-color: #4056A1;
    color: #FFFFFFFF;
    position:fixed;
  }

  #nav-bar .write-msg .new-tweet {
    color: #FFFFFFFF;
    margin-top: 10px;
  }
}
