.error-msg {
  color: #D8000C;
  font-weight: 200;
}


#tweet-text {
  background: transparent;
  border:none;
  border-bottom: 3px solid black;
  font-weight: lighter;
  height: 50px; 
  margin: 24px 0px; 
  outline:none;
  overflow: auto;
  padding-bottom: 20px; 
  resize: none;
  width: 100%;
}

button {
  background-color: #4056A1;
  color: #FFFFFFFF;
  font-family: 'bungee', cursive, sans-serif;
}

output {
  float: right;
  font-family: 'bungee', cursive, sans-serif;
}

.red {
  color: red
}

.tweet {
  border:solid black;
  display: flex;
  margin: 50px 0px 30px 0px;
  width: 100%;
  flex-direction: column;
}



.tweet header {
  display: flex;
  justify-content: space-between;
}

.tweet:hover {
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.tweet header img {
 margin: 30px 10px 0px 30px;
}

.tweet header h2 {
  display: flex;
  flex-grow: 1;
  margin-top: 30px;
}

.tweet header h3 {
  font-weight: lighter;
  float: right;
  margin: 30px 30px 0px 0px;
  opacity: 0.6;
}

.tweet > p {
    border-bottom: solid black;
    margin: 30px 10px 0px 30px;
    padding: 0px 0px 20px 20px;
}

.tweet footer {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.tweet footer span {
  font-size: 14px;
  margin: 30px 30px 30px 30px;
}

.tweet footer div {
margin: 20px 30px 0px 0px
}

.tweet footer img {
  margin: 10px 10px 0px 0px
}
